<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>My ESC Vote/Src/Fonts/</string>
	<key>UIAppFonts</key>
	<array>
		<string>Metropolis-Black.tff</string>
		<string>Metropolis-BlackItallic.tff</string>
		<string>Metropolis-Bold.tff</string>
		<string>Metropolis-BoldItalic.tff</string>
		<string>Metropolis-ExtraBold.tff</string>
		<string>Metropolis-ExtraBoldItalic.tff</string>
		<string>Metropolis-ExtraLight.tff</string>
		<string>Metropolis-ExtraLightItalic.tff</string>
		<string>Metropolis-Light.tff</string>
		<string>Metropolis-LightItalic.tff</string>
		<string>Metropolis-Medium.tff</string>
		<string>Metropolis-MediumItalic.tff</string>
		<string>Metropolis-Regular.tff</string>
		<string>Metropolis-RegularItalic.tff</string>
		<string>Metropolis-Thin.tff</string>
		<string>Metropolis-ThinItalic.tff</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
